In [3]:
import pandas as pd
import numpy as np

In [8]:
data = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
index_date = pd.date_range('2020-04-01', periods=4)
column_list = ['A', 'B', 'C']
df = pd.DataFrame(data, index=index_date, columns=column_list)  #python sytle : arument에서는 =붙여서씀
print(df)

             A   B   C
2020-04-01   1   2   3
2020-04-02   4   5   6
2020-04-03   7   8   9
2020-04-04  10  11  12

In [15]:
# panda data frame 을 dictionary 이용해 만들기
# 'key'값이 column 명이 됨
data = {'year':[2019, 2020, 2021], 'location':['seoul', 'busan', 'seoul'], 'num':[100, 199, 200]}
df = pd.DataFrame(data)
print(df)

   year location  num
0  2019    seoul  100
1  2020    busan  199
2  2021    seoul  200

In [16]:
# 열 선택  (location만)
print(df['location'])

0    seoul
1    busan
2    seoul
Name: location, dtype: object

In [18]:
# 행 선택 [index num]
print(df.loc[1])

print(df.loc[0:2])

year         2020
location    busan
num           199
Name: 1, dtype: object
   year location  num
0  2019    seoul  100
1  2020    busan  199
2  2021    seoul  200